/*커스텀 속성(css계의 변수)*/
:root{
    --main-color: white; 
    --sub-color: orange;
}
/*1. 대문자, 소문자 둘 다 쓸 수 있지만, BG, bg 각기 다른 변수로 인지
2. 단위는 호출하는 데에서는 사용하지 않고 위 루트 만들때 같이 사용하면 됨
3. 커스텀 속성은 값을 넣는데, 속성은 못 넣음*/ 

#hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./hero.jpeg'), url('./muny.jpg');
    background-size:cover;
    /*object-fit:cover;*/
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--bg-color);
    background-blend-mode: lighten;
    animation: bg-color 24s infinite;
    text-align: center;
    font-family: 'impact', Gothic;
    line-height: 1.5;
}
@keyframes bg-color{
    0%{background-color: tomato;}
    12.5%{background-color: steelblue;}
    25%{background-color: slateblue;}
    36%{background-color: bisque;}
    50%{background-color: rebeccapurple;}
    63.5%{background-color: rgb(40, 40, 139);}
    75%{background-color: rgb(252, 252, 83);}
    88%{background-color: rgb(255, 101, 101);}
    100%{background-color: pink;}
}

/*animation 속성들*/
/*div{
    animation-timing-function: ; 속도, 타이밍
        ease, ease-out 등
    animation-duration: ; 실행 시작부터 종료까지 걸리는 시간
        5s, 5ms 소수점도 사용 가능
    animation-name: ; @키프레임 박스 이름
    animation-delay: ; 시작을 기다리는 시간
        5s, 5ms 소수점도 사용 가능
    animation-direction: ; 방향
        normal - 기본방향
        alternate - 홀수번째 돌고 있을 때는 정방향, 짝수번째 돌고 있을 때는 역방향
        reverse - 반대방향으로 재생
        alternate-reverse - alternate 효과를 역으로 재생
    animation-fill-mode: ; 애니메이션이 끝난 후 상태
        none
        fowards - 재생한 다음 끝났을 때 마지막 프레임으로 상태 유지
        backwards - 재생한 다음 끝났을때 첫번째 프레임으로 상태 유지
        both - fowards, backwards 둘다
    animation-play-state: ; 재생, 일시정지
        running - 기본상태
        paused - 일시멈춤(스페이스바)
    animation-literation-count: ; 반복 횟수
        infinite - 무한루프
        숫자 입력하면 그 횟수만큼 반복
}*/
h1{
    font-size: 6rem;
    font-weight: bold;
    mix-blend-mode: overlay;
    color: var(--main-color);
}